@model IEnumerable<MSFSAddons.Models.FileManger>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Themes/FrontEnd/_MyProfile.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <a asp-action="Upload" asp-controller="FileManager">Upload File</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HttpDownloadUrl)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.FileExtension)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                <a href="@item.HttpDownloadUrl" href="data:application/octet-stream;base64,PD94ANDSOON"  download="@item.OrignalFilename"> @Html.DisplayFor(model => item.OrignalFilename)</a>
                
            </th>         
         
            <td>                
                <span class="fiv-sqo fiv-icon-@item.FileExtension.Replace(".","").ToLower()"></span>


            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
