@model IEnumerable<MSFSAddonsHub.Dal.Models.MyAddon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Themes/FrontEnd/_MyProfile.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.TeannatId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConflictId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThumbNail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDownloads)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DownloadUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isZipFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isJsonFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DownloadJson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDisplayHomePage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isFeatured)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.TeannatId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConflictId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThumbNail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDownloads)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownloadUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isZipFile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isJsonFile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownloadJson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDisplayHomePage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isFeatured)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
