<!doctype html>
<html lang="en">
<head>
    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="Templist - Online Education & Learning Courses HTML CSS Responsive Template" name="description">
    <meta content="Spruko Technologies Private Limited" name="author">
    <meta name="keywords" content="dashboard template, bootstrap admin template, bootstrap admin template, admin template, bootstrap dashboard, html template, css templates, bootstrap form template, bootstrap 4 templates, bootstrap dashboard template, admin dashboard template, html dashboard template, bootstrap grid template, html admin template, bootstrap 4 admin template, bootstrap 4 dashboard, bootstrap admin, admin dashboard, html and css templates, themeforest html, themeforest html templates, template html5 bootstrap" />

    <!-- Favicon -->
    <link rel="icon" href="/images/brand/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/brand/favicon.ico" />


    <!-- Bootstrap css -->
    <link href="/plugins/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Sidemenu Css -->
    <link href="/css/sidemenu.css" rel="stylesheet" />

    <!-- Dashboard Css -->
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/admin-custom.css" rel="stylesheet" />

    <!-- c3.js Charts Plugin -->
    <link href="/plugins/charts-c3/c3-chart.css" rel="stylesheet" />

    <!-- p-scroll bar css-->
    <link href="/plugins/pscrollbar/pscrollbar.css" rel="stylesheet" />

    <!---Font icons-->
    <link href="/css/icons.css" rel="stylesheet" />

    <!---P-scroll Bar css -->
    <link href="/plugins/pscrollbar/pscrollbar.css" rel="stylesheet" />

    <!-- Color Skin css -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="/color-skins/color6.css" />

</head>

<body class="app sidebar-mini">

    <!--Loader-->
    <div id="global-loader">
        <img src="/images/loader.svg" class="loader-img" alt="">
    </div>
    <!--/Loader-->
    <!--Page-->
    <div class="page">
        <div class="page-main h-100">

            <!--App-Header-->
            <div class="app-header1 header py-1 d-flex">
                <div class="container-fluid">
                    <div class="d-flex">
                        <a class="header-brand" href="index.html">
                            <img src="/images/brand/logo1.png" class="header-brand-img" alt="Lmslist logo">
                        </a>
                        <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-toggle="sidebar" href="#"></a>
                        <div class="header-navicon">
                            <a href="#" data-toggle="search" class="nav-link d-lg-none navsearch-icon">
                                <i class="fe fe-search"></i>
                            </a>
                        </div>
                        <div class="header-navsearch">
                            <form class="form-inline mr-auto">
                                <div class="nav-search">
                                    <input type="search" class="form-control header-search" placeholder="Search…" aria-label="Search">
                                    <button class="btn" type="submit"><i class="fe fe-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="d-flex order-lg-2 ml-auto">
                            <div class="dropdown d-none d-md-flex">
                                <a class="nav-link icon full-screen-link">
                                    <i class="fe fe-maximize-2" id="fullscreen-button"></i>
                                </a>
                            </div>
                            <div class="dropdown d-none d-md-flex country-selector">
                                <a href="#" class="d-flex nav-link leading-none" data-toggle="dropdown">
                                    <img src="/images/flags/us_flag.jpg" alt="img" class="avatar avatar-xs mr-1 align-self-center">
                                    <div>
                                        <span class="text-white">English</span>
                                    </div>
                                </a>
                                <div class="language-width dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <img src="/images/flags/french_flag.jpg" alt="flag-img" class="avatar  mr-3 align-self-center">
                                        <div>
                                            <strong>French</strong>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <img src="/images/flags/germany_flag.jpg" alt="flag-img" class="avatar  mr-3 align-self-center">
                                        <div>
                                            <strong>Germany</strong>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <img src="/images/flags/italy_flag.jpg" alt="flag-img" class="avatar  mr-3 align-self-center">
                                        <div>
                                            <strong>Italy</strong>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <img src="/images/flags/russia_flag.jpg" alt="flag-img" class="avatar  mr-3 align-self-center">
                                        <div>
                                            <strong>Russia</strong>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <img src="/images/flags/spain_flag.jpg" alt="flag-img" class="avatar  mr-3 align-self-center">
                                        <div>
                                            <strong>Spain</strong>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="dropdown d-none d-md-flex">
                                <a class="nav-link icon" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class=" nav-unread badge badge-danger  badge-pill">4</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a href="#" class="dropdown-item text-center">You have 4 notification</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <div class="notifyimg">
                                            <i class="fa fa-envelope-o"></i>
                                        </div>
                                        <div>
                                            <strong>2 new Messages</strong>
                                            <div class="small text-muted">17:50 Pm</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <div class="notifyimg">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <div>
                                            <strong> 1 Event Soon</strong>
                                            <div class="small text-muted">19-10-2019</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <div class="notifyimg">
                                            <i class="fa fa-comment-o"></i>
                                        </div>
                                        <div>
                                            <strong> 3 new Comments</strong>
                                            <div class="small text-muted">05:34 Am</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <div class="notifyimg">
                                            <i class="fa fa-exclamation-triangle"></i>
                                        </div>
                                        <div>
                                            <strong> Application Error</strong>
                                            <div class="small text-muted">13:45 Pm</div>
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item text-center">See all Notification</a>
                                </div>
                            </div>
                            <div class="dropdown d-none d-md-flex">
                                <a class="nav-link icon" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class=" nav-unread badge badge-warning  badge-pill">3</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <img src="/images/users/male/41.jpg" alt="avatar-img" class="avatar brround mr-3 align-self-center">
                                        <div>
                                            <strong>Blake</strong> I've finished it! See you so.......
                                            <div class="small text-muted">30 mins ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <img src="/images/users/female/1.jpg" alt="avatar-img" class="avatar brround mr-3 align-self-center">
                                        <div>
                                            <strong>Caroline</strong> Just see the my Admin....
                                            <div class="small text-muted">12 mins ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <img src="/images/users/male/18.jpg" alt="avatar-img" class="avatar brround mr-3 align-self-center">
                                        <div>
                                            <strong>Jonathan</strong> Hi! I'am singer......
                                            <div class="small text-muted">1 hour ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <img src="/images/users/female/18.jpg" alt="avatar-img" class="avatar brround mr-3 align-self-center">
                                        <div>
                                            <strong>Emily</strong> Just a reminder you have.....
                                            <div class="small text-muted">45 mins ago</div>
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item text-center">View all Messages</a>
                                </div>
                            </div>
                            <div class="dropdown d-none d-md-flex">
                                <a class="nav-link icon" data-toggle="dropdown">
                                    <i class="fe fe-grid"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow  app-selector">
                                    <ul class="drop-icon-wrap">
                                        <li>
                                            <a href="#" class="drop-icon-item">
                                                <i class="icon icon-speech text-dark"></i>
                                                <span class="block"> E-mail</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="drop-icon-item">
                                                <i class="icon icon-map text-dark"></i>
                                                <span class="block">map</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="drop-icon-item">
                                                <i class="icon icon-bubbles text-dark"></i>
                                                <span class="block">Messages</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="drop-icon-item">
                                                <i class="icon icon-user-follow text-dark"></i>
                                                <span class="block">Followers</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="drop-icon-item">
                                                <i class="icon icon-picture text-dark"></i>
                                                <span class="block">Photos</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="drop-icon-item">
                                                <i class="icon icon-settings text-dark"></i>
                                                <span class="block">Settings</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item text-center">View all</a>
                                </div>
                            </div>
                            <div class="dropdown ">
                                <a href="#" class="nav-link pr-0 leading-none user-img" data-toggle="dropdown">
                                    <img src="/images/users/male/2.jpg" alt="profile-img" class="avatar avatar-md brround">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow ">
                                    <a class="dropdown-item" href="profile.html">
                                        <i class="dropdown-icon icon icon-user"></i> My Profile
                                    </a>
                                    <a class="dropdown-item" href="emailservices.html">
                                        <i class="dropdown-icon icon icon-speech"></i> Inbox
                                    </a>
                                    <a class="dropdown-item" href="editprofile.html">
                                        <i class="dropdown-icon  icon icon-settings"></i> Account Settings
                                    </a>
                                    <a class="dropdown-item" href="login.html">
                                        <i class="dropdown-icon icon icon-power"></i> Log out
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/App-Header-->
            <!-- Sidebar menu-->
            <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
            <aside class="app-sidebar doc-sidebar">

                @await Html.PartialAsync("_SideMenu.cshtml")

            </aside>
            <!-- /Sidebar menu-->
            <!--App-Content-->


            <div class="app-content">

                <div class="side-app">
                    <div class="page-header">
                        <h4 class="page-title">@ViewBag.Title</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </div>

                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">@ViewBag.Title</h5>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive border-top mb-0">


                                        @RenderBody()
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <!--Footer-->
                    <footer class="footer">
                        <div class="container">
                            <div class="row align-items-center flex-row-reverse">
                                <div class="col-lg-12 col-sm-12 text-center">
                                    Copyright © 2020 <a href="#" class="fs-14 text-primary">Templist</a>. Designed  by <a href="#" class="fs-14 text-primary"> Spruko Technologies Pvt.Ltd </a>All rights reserved.
                                </div>
                            </div>
                        </div>
                    </footer>
                    <!--/Footer-->

                </div>

                <!-- Back to top -->
                <a href="#top" id="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

                <!-- JQuery js-->
                <script src="/js/jquery-3.2.1.min.js"></script>

                <!-- Bootstrap js -->
                <script src="/plugins/bootstrap-4.3.1/js/popper.min.js"></script>
                <script src="/plugins/bootstrap-4.3.1/js/bootstrap.min.js"></script>

                <!--JQuery Sparkline Js-->
                <script src="/js/jquery.sparkline.min.js"></script>

                <!-- Circle Progress Js-->
                <script src="/js/circle-progress.min.js"></script>

                <!-- Star Rating Js-->
                <script src="/plugins/rating/jquery.rating-stars.js"></script>

                <!-- Fullside-menu Js-->
                <script src="/plugins/sidemenu/sidemenu.js"></script>

                <!-- p-scroll bar Js-->
                <script src="/plugins/pscrollbar/pscrollbar.js"></script>
                <script src="/plugins/pscrollbar/pscroll.js"></script>

                <!--Counters -->
                <script src="/plugins/counters/counterup.min.js"></script>
                <script src="/plugins/counters/waypoints.min.js"></script>

                <!-- CHARTJS CHART -->
                <script src="/plugins/chart/chart.bundle.js"></script>
                <script src="/plugins/chart/utils.js"></script>

                <!-- ECharts Plugin -->
                <script src="/plugins/echarts/echarts.js"></script>
                <script src="/js/index1.js"></script>


                <!-- Custom Js-->
                <script src="/js/admin-custom.js"></script>
                @RenderSection("scripts", required: false)

</body>
</html>