@model MSFSAddons.Models.Club

@{
    ViewData["Title"] = "Details";
    Layout = "~/Themes/FrontEnd/_MyProfile.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Club</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeannatId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeannatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThumbNail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThumbNail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BanPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BanPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isBanned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isBanned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
