@model MSFSAddons.Dal.ViewModels.ClubsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Themes/DashBoard/_Layout.cshtml";

}

<div class="pull-right">
    <button type="button" class="btn bg-purple" data-toggle="modal" data-target="#CreateClubModal">
        <i class="fa fa-envelope-open-text"></i>
        Invite Member

    </button>

    <button type="button" class="btn bg-purple" data-toggle="modal" data-target="#inviteModal">
        <i class="fa fa-envelope-open-text"></i>
        Delete Clubs

    </button>

    <button type="button" class="btn bg-orange" data-toggle="modal" data-target="#inviteModal">
        <i class="fa fa-envelope-open-text"></i>
        API Call

    </button>
    <div class="btn-group">
        <button type="button" class="btn btn-success">
            <i class="fa fa-download"></i>
            Export
        </button>
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">&nbsp;</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <button type="submit" name="exportxml-all" formaction="/Admin/Product/ExportToXml">
                    <i class="fa fa-file-code-o"></i>
                    Export to XML (all found)
                </button>
            </li>
            <li>
                <button type="button" id="exportxml-selected">
                    <i class="fa fa-file-code-o"></i>
                    Export to XML (selected)
                </button>
            </li>
        </ul>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clubs.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clubs.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clubs.First().Logo)
            </th>
            <th>
                Members
            </th>
        </tr>
    </thead>

    @foreach (var item in Model.Clubs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>


            <td style="background-color:gray">
                <img src="@item.Logo" width="100" height="100" />
            </td>
            <td>

                <a asp-action="Index" asp-controller="ClubMembers" asp-route-id="@item.Id"> <span class="fa fa-users-cog fa-2x"></span> View Members</a>
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pencil fa-2x"></span></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash-o fa-2x"></span></a> |

            </td>
        </tr>
    }


</table>
@await Html.PartialAsync("CreateClubModalPartialView", Model)
